<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBibcxSKKVqEqvYzw_He5TiXpE62f27hx8</string>
	<key>GCM_SENDER_ID</key>
	<string>959404561827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tht.tutorials.socialmedia</string>
	<key>PROJECT_ID</key>
	<string>socialmediaapptht</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmediaapptht.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959404561827:ios:9139fb40bc945f40383616</string>
</dict>
</plist>